<!DOCTYPE HTML>
<html>
    <head>
        <title>MyTestPage</title>
        <meta name="decorator" content="atl.admin"/>
        <meta name="projectKey" content="$project.getKey()"/>
        <meta name="projectId" content="$project.getId()"/>
        <meta name="admin.active.tab" content="my_item_link"/>
        <meta name="admin.active.section" content="atl.jira.proj.config"/>
        $webResourceManager.requireResourcesForContext("my-resources")
    </head>
    <body>
        <div id="project-config-panel-students" class="project-config-panel">
            <div class="project-config-panel-header project-config-icon48-students">
                <h2>Students</h2>
                <p>Students description.</p>
            </div>
            <form id="project-config-students" class="loading" action="#">
                <table class="aui" id="project-config-students-table">
                    <thead>
                        <tr>
                            <th><!--icon--></th>
                            <th>name</th>
                            <th>surname</th>
                            <th>created</th>
                            <th><!--buttons--></th>
                            <th><!--throbber--></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="jira-restfultable-init">
                    <span class="jira-restfultable-throbber"></span>
                    <span class="jira-restfultable-loading">Loading</span>
                </div>
            </form>
        </div>
    </body>
</html>